<section>
    <div class="shadow"></div>


    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide"><img src="/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg"></li>
                <li class="glide__slide"><img src="/images/simon-abrams-k_T9Zj3SE8k-unsplash.jpg"></li>
                <li class="glide__slide"><img src="/images/you-x-ventures-Oalh2MojUuk-unsplash.jpg"></li>
            </ul>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/glide.min.js"></script>
    <script>
        new Glide('.glide', {
            autoplay: 3150,
        }).mount()
    </script>
</section>

{{!--  PARTNERS SECTION  --}}

<div class="section2">
    <div class="container">
        <div class="partners">
            <div class="row align-items-center">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <img src="/images/EdNDPOINTS.png">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <img src="/images/ibm-logo.png">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <img src="/images/pied-piper-6-569415.png">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <img src="/images/Branding_lenovo-logo_lenovologoposred_low_res.png">
                </div>
            </div>
        </div>
    </div>
    <div class="motivation">
        <h2>Somos<span></span></h2>
    </div>

    {{!-- Utility Section --}}

    <div class="section3">
        <div class="container-fluid">
            <div class="statement1">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <img src="/images/portatil-statement.png">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card" id="indexcard">
                            <div class="card-body">
                                <h2>EL TALENTO ES TUYO </h2>
                            </div>
                            <p>Nuestro trabajo es ahorrarte trabajo a ti. Ironjob se encarga de encontrar el mayor
                                talento emergente de las mejores
                                escuelas de tecnología y ponerlo a tu alcance en una sola plataforma.
                                <br>
                                Reducimos el coste de tu empresa en scouters y te brindamos los mayores talentos
                                nacionales e internacionales para
                                amoldar los profesionales actuales a tus necesidades del futuro.
                                <br>
                                Cada año profesionales con más de 10 años de experiencia en su ámbito y con el
                                conocimiento de lo que la industria
                                necesita forma a más de 500 alumnos en las ramas de
                                Full Stack Web Development, UI/UX y ciberseguridad para brindar a tu empresa de todo el
                                talento que pueda necesitar en
                                el momento en el que pueda necesitarlo.
                                <br>
                                El equipo docente de las escuelas con las que trabajamos son experimentados
                                profesionales que conocen el sector desde
                                dentro pudiendo dar una enseñanza especializada,
                                con las especificas convenciones que la especialidad actualmente trabaja y con la
                                capacidad de creación y adaptación al
                                medio que las empresas necesitan actualmente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
    </div>
</div>



<div class="maps">
    <section class="container">
        <div class="row justify-content-around">
            <div class="col-4 col-sm-3">
                <h4><a class="btn btn-lg btn-outline-success" href="https://www.ironhack.com/es/madrid">IronHack
                        Madrid</a>
            </div>
            <div class="col-4 col-sm-3">
                <a class="btn btn-lg btn-outline-success" href="https://www.ironhack.com/es/barcelona">IronHack
                    Barcelona</a>
            </div>
            <div class="col-4 col-sm-3">
                <a class="btn btn-lg btn-outline-success" href="https://www.ironhack.com/pt/lisboa">IronHack Lisboa</a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <figure id="ironMap"></figure>
            </div>
        </div><br>
        <div class="row justify-content-around" style="color: rgba(255,255,255, 0.781)">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3>IronHack Madrid</h3>
                <hr>
                <p><i>Paseo de la Chopera 14 (Matadero - Casa del Lector).</i></p>
                <p><i>28045, Madrid.</i></p>
                <br>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3>IronHack Barcelona</h3>
                <hr>
                <p><i>Carrer de Pamplona 96.</i></p>
                <p><i>08018, Barcelona.</i></p>
                <br>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3>IronHack Lisboa</h3>
                <hr>
                <p><i>Heden Santa Apolonia Doca Jardim do Tabaco Terminal de Cruzeiros de Lisboa Edifício NW, 1º
                        Piso</i></p>
                <p><i>1100-651 Lisboa, Portugal.</i></p>
                <br>
            </div>
        </div>
    </section>
    <div class="RRSS">
        <a href="http://www.instagram.com/ironjobes"><img src="/images/60312da1fe41b1f2a8a84e4c959b4e0e.png"
                alt="instalogo" class="SNInsta"></a>
        <a href="http://www.twitter.com/job_iron"><img
                src="/images/b1a3fab214230557053ed1c4bf17b46c-icono-de-twitter-logo-by-vexels.png" alt="twitterlogo"
                class="SNTwitter"></a>
    </div><br><br>
    <p style="text-align: center; text-decoration: underline"><strong>Desarrollado por: José Dorado y Héctor Carramiñana.</strong></p>
    <p style="text-align: center;"><i>Deseando volver a trabajar con ramas. Fue sido un placer.</i></p>
    <p style="text-align: center;"><i>IronJob CIF B0000001 Calle Picaporte. Numero 24 28002, Madrid, Madrid. ESPAÑA.</i></p>

</div>

{{!-- SCRIPS ESTÁTICOS --}}

<script src="/javascripts/styles.js"></script>
<script src="/javascripts/directions.js"></script>
<script src="/javascripts/ironhack-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKFqXWrZMayUjf2aMRgjVus_7oqT2QGo8&callback=initMap"></script>