<div class="profile">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2 style="margin-top: 150px;">Bienvenid@ a IronJob 🚀</h2>
                <p>Tu perfil está siendo verificado por IronHack para que puedas acceder correctamente al contenido. Durante este tiempo, te invitamos a ver nuestra fabulosa página de inicio: </p><br>
                <a href="/" class="btn btn-block btn-outline-success">Inicio</a>
            </div>
        </div>