<section class="container">


    <h1>pagina de inicio bonita donde pondremos botón register</h1><br>

    <a href="/company/signup" class="btn btn-dark">Registrate</a><br><br>
    <a href="/company/login" class="btn btn-dark">Inicia sesión</a>

</section>