<section class="container index-company">

    <div class="row justify-content-center">

        <div class="col-md-8">

            {{!-- DIBUJAR CUADRADO VER COMO HACERLO / PARALLAX /--}}
            <div style="border: 1px solid green;">
                <div class="text-white text-center py-5 px-4">
                    <div>
                        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                            <a href="/"><img src="../../images/LOGO-IRONJOB-2LINE (1).png" alt="IronJob logo"
                                    class="logoimg"></a>
                        </h2>
                        <p class="mx-5 mb-5">Bienvenid@ a <strong>{{siteTitle}}</strong>, la mejor plataforma para
                            encontrar jóvenes talentos.
                        </p>
                        <a href="/company/signup"><input type="submit" class="btn2" value="Regístrate"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>